venv/*
venv/bin/accelerate-config
.env
results/*
src/protocols/__pycache__/single_agent.cpython-310.pyc
src/protocols/__pycache__/mixture_of_agents.cpython-310.pyc
src/protocols/__pycache__/minions.cpython-310.pyc
src/protocols/__pycache__/foa.cpython-310.pyc
src/protocols/__pycache__/foa_dag.cpython-310.pyc
src/protocols/__pycache__/debate.cpython-310.pyc
src/protocols/__pycache__/cluster.cpython-310.pyc
src/protocols/__pycache__/__init__.cpython-310.pyc
src/protocols/__pycache__/base.cpython-310.pyc
src/__pycache__/runner.cpython-310.pyc
src/__pycache__/metrics.cpython-310.pyc
src/__pycache__/llm.cpython-310.pyc
src/__pycache__/experiments.cpython-310.pyc
src/__pycache__/dataset.cpython-310.pyc
__pycache__/config.cpython-310.pyc


*.pyc
src/__pycache__/experiments.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/
*.pyc
results/*